$font-primary: 'Manrope', sans-serif;
$font-secondary: 'DM Sans', sans-serif;
$font-text: 'Roboto', sans-serif;
$font-thirty: 'Inter', sans-serif;

$white: #fff;
$black: #000;
$black-light: #333;
$bg-btn: #F85A47;
$bg-footer: #FBFCFC;
$txt-footer: #31353B;